.expenditure-row {
  align-items: center;
  border: 1px solid #383838;
  border-top: none;
  display: flex;
  padding: 5px;

  .actions {
    display: flex;

    .btn-action {
      align-items: center;
      display: flex;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
