.dashboard {
  align-items: center;
  display: flex;
  justify-content: center;

  .dashboard-block {
    align-items: center;
    background-color: #97ca97;
    border-radius: 25px;
    color: white;
    display: flex;
    font-size: 3rem;
    height: 250px;
    justify-content: center;
    margin: 50px;
    width: 500px;

    svg {
      height: 3rem;
      margin-right: 10px;
      width: 3rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: darkgreen;
      cursor: pointer;
    }
  }
}
